{% extends 'base.html'%}
{% load static %}


{% block title%}
{{user.username}}                
{% endblock%}


{% block content%}
<link rel="stylesheet" href="{% static 'css/profile.css'%}">
<script src="{% static 'javascript/profile.js' %}"></script>
<div class="name">
    <h1>
        {{profile.user.first_name}} {{profile.user.last_name}} (  {{profile.user.username}} )
    </h1>
</div>
<div class="row user-info">
    <div class="col-4 profile-image mx-4">
          <img src="{{profile.profile_image.url}}" alt="">
    </div>
    <div class="col-6 profile-data">
        <div class="row g-5">
            <div class="col-4">
                <h4>Followers</h4>
                <h5>{{profile.followers_count}}</h5>
            </div>
            <div class="col-4">
                <h4>Following</h4>
                <h5>{{profile.following_count}}</h5>
            </div>
            <div class="col-4">
                <h4>Posts</h4>
                <h5>{{ profile.post_count }}</h5>
            </div>
        </div>
        <div class="row">
            
            <a href="{% url 'follow' user profile.user.username%}" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Follow</a>

        </div>
    </div>
</div>
<div class="row g-5 post-row" >
  {% for a in posts %}
  <div class="col-3">
    <div class="post">
      <img src="{{a.image.url}}" on_click='hover_post' class="card-img-top post-image" alt="...">
    </div>
  </div>
  {% endfor %}
{% endblock%}