{% extends 'base.html' %}
{% load static %}

{% block title %}
   Login
{% endblock%}

{% block content%}
<link rel="stylesheet" href="{% static 'css/login.css'%}">
{% if check == False %}
<script>
        alert('{{ message}}');
</script>
{% endif %}
<div class="row justify-content-end">
    <div class="col-5 quote-cell">
        <h1 data-aos="zoom-out">Stay at home!</h1><br>&nbsp;&nbsp;&nbsp;<h3>Wear a mask.</h3>
    </div>
    <div class="col-5 form-cell">
        <form method="POST" action="{% url 'login_submit'%}">{% csrf_token %}
            <input type="text" name="email" id="email" placeholder="Username"><br><br>
            <input type="password" name="password" id="password" placeholder="Password"><br><br>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}